nav.fixed.top-0.z-50.w-full {
  background-image: url("/Users/swetanshu.patel/Desktop/RMS-Searce/V2/frontend/src/Asset/HomeBackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
